@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "GilroyRegular";
  src: url("../assets/fonts/gilroy/Gilroy-Medium.ttf")
}

@font-face {
  font-family: "GilroyBold";
  src: url("../assets/fonts/gilroy/Gilroy-Bold.ttf")
}

@font-face {
  font-family: "GilroyEB";
  src: url("../assets/fonts/gilroy/Gilroy-ExtraBold.ttf");
}


body {
  overflow-x: hidden;
  background-color: black;
  color: white;
}

body::-webkit-scrollbar {
  width: 0 !important
}

.noScrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important
}

h1 {
  font-family: "GilroyEB";
}

h2 {
  font-family: "GilroyBold";
}

p {
  font-family: "GilroyRegular";
}

.bg-bigWatch {
  background-image: url("../assets/BigWatchImage.svg");
}

.bg-bigPhone {
  background-image: url("../assets/BigPhoneImage.svg");
}