@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "GilroyRegular";
  src: url("../assets/fonts/gilroy/Gilroy-Medium.ttf")
}

@font-face {
  font-family: "GilroyBold";
  src: url("../assets/fonts/gilroy/Gilroy-Bold.ttf")
}

@font-face {
  font-family: "GilroyEB";
  src: url("../assets/fonts/gilroy/Gilroy-ExtraBold.ttf");
}


body {
  overflow-x: hidden;
  background-color: #F9F9F9;
  color: white;
}

body::-webkit-scrollbar {
  width: 0 !important
}

.noScrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important
}

h1 {
  font-family: "GilroyEB";
}

h2 {
  font-family: "GilroyBold";
}

p {
  font-family: "GilroyRegular";
}

.bg-bigWatch {
  background-image: url("../assets/BigWatchImage.svg");
  object-fit: "contain"
}

.bg-bigPhone {
  background-image: url("../assets/BigPhoneImage.svg");
  object-fit: "contain"
}

.bg-appleCopy {
  background-image: url("../assets/AppleCopyImage.svg");
  object-fit: "contain";
  background-repeat: no-repeat;
  height: 1071px;
  width: 1868px;
}

.genericButton {
  @apply rounded-3xl px-10 py-3 border-2 border-black cursor-pointer transition transform duration-200;
}

.bg-phoneSpecs {
  background-image: url("../assets/PhoneSpecsImage.svg");
  object-fit: "contain";
  background-repeat: no-repeat;
  object-position: left;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.bg-systum {
  background-image: url("../assets/PhoneSpecsImage.svg");
  object-fit: contain;
  background-repeat: no-repeat;
  object-position: center;
  background-position: center;
  background-size: 900px;
}